/* Default styling for HTML and Body */
html {
    width: 100%;
    overflow-x: hidden;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: calc(1rem + 0.5vw);
    color: #333;
    background-color: #fff;
    line-height: 1.6;
}

/* Apply a clearfix for floating elements */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
